extends layout

block content
  h1 Message Board: 

  if (posts && posts.length)
    each post in posts 
      div.post
        p.user By: #{post.user.username}
        p.message= post.text
  else 
    p Could not find any posts
