body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.form-group {
  display: grid;
  margin: 20px;

  width: 33%;
}

.form-group label {
  display: grid;
}

.form-group button {
  width: max-content
}